.Aboutus {
  background-color: #ffffff;
  height: 200vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.container {
  position: relative;
  height: 200vh;
  width: 80%;
  perspective: 1px;
  perspective-origin: 0 0;
}

.img1 {
  position: sticky;
  position: -webkit-sticky;
  z-index: -1;
  top: 7rem;
  left: 5rem;
  width: 40rem;
  height: 25rem;
  background: url("../assets/AboutUs/image1.jpg");
  background-size: cover;
  transform-origin: 0 0;
}

.img2 {
  position: sticky;
  position: -webkit-sticky;
  background: url("../assets/AboutUs/imgsolo.jpg");
  width: 13rem;
  height: 18rem;
  left: 35rem;
  top: 3rem;
  z-index: 2;
  background-size: cover;
  transition: all ease;
}

.img3 {
  position: sticky;
  position: -webkit-sticky;
  background: url("../assets/AboutUs/image2.jpg");
  background-size: cover;
  width: 8rem;
  height: 13rem;
  left: 3rem;
  padding: 2rem;
  top: 25rem;
}

.about-us-text {
  width: 40%;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding-right: 3rem;
}

.about-us-text span {
  color: #fa8a13;
}

.about-us-text h1 {
  font-weight: 800;
}

.text1-container {
  text-align: left;
  padding-top: 8rem;
}

.text2-container {
  text-align: right;
  padding-top: 13rem;
}

.about {
  transform: rotate(90deg);
  font-size: 7rem;
  position: relative;
  top: 17rem;
  left: 30%;
  height: 7rem;
  width: fit-content;
  color: #f0f0f0;
}

.top-about {
  height: 100vh;
}
.image1 {
  background: url("../assets/AboutUs/image1.jpg");
  width: 40rem;
  height: 25rem;
  position: relative;
  left: 50%;
  border-radius: 10%;
  background-size: cover;
}

.image2 {
  background: url("../assets/AboutUs/image2.jpg");
  width: 13rem;
  height: 18rem;
  background-size: cover;
}

.image3 {
  background: url("../assets/AboutUs/imgsolo.jpg");
  width: 8rem;
  height: 13rem;
  background-size: cover;
}

.about-text {
  font-weight: bold;
  font-size: 2rem;
  width: fit-content;
  top: 30%;
  left: 17%;
  display: inline-block;
  position: relative;
}

.about-desc {
  position: relative;
  display: inline-block;
  flex-wrap: wrap;
  max-width: 30%;
  font-size: 1.3rem;
}
