.about-section {
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .section-header {
    text-align: center;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .row-alt {
    flex-direction: row-reverse;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    .about-rotated {
      transform: rotate(90deg);
      font-size: 7rem;
      z-index: 0;
      flex: 1;
      position: relative;
      top: -5rem;
      left: 1rem;
      min-width: 3rem;
      color: #dddddd;

      @media only screen and (max-width: 1200px) {
        top: -7rem;
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .vision-header {
      font-size: 2.4rem;
    }

    .about-desc {
      flex: 6;
      z-index: 0;
      position: relative;
      padding: 1rem;
      padding-left: 4rem;
      font-size: 1.2rem;

      @media only screen and (max-width: 768px) {
        padding-left: 0;
        flex: none !important;
      }
    }

    .image1 {
      background: url("../assets/AboutUs/image2.jpg");
      width: 90%;
      height: 25rem;
      margin: 1rem;

      background-position: center;
      flex: 6;
      max-width: 600px;
      border-radius: 1rem;
      background-size: cover;
      background-repeat: no-repeat;

      @media only screen and (max-width: 768px) {
        flex: none !important;
      }
    }
  }

  .row {
    padding: 2rem 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 768px) {
      justify-content: center;
      align-items: flex-start;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    .about-rotated {
      transform: rotate(90deg);
      font-size: 7rem;
      z-index: 0;
      flex: 1;
      position: relative;
      top: -5rem;
      left: -2rem;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      min-width: 3rem;
      color: #dddddd;
    }

    .about-us-header {
      font-size: 2.4rem;
    }

    .about-desc {
      flex: 6;
      z-index: 0;
      position: relative;
      padding: 1rem;
      font-size: 1.2rem;
      padding-right: 4rem;

      @media only screen and (max-width: 768px) {
        padding-left: 0;
        flex: none;
      }
    }

    .image1 {
      background: url("../assets/AboutUs/image1.jpg");
      width: 90%;
      height: 25rem;
      margin: 1rem;

      background-position: center;
      flex: 5;
      max-width: 600px;

      border-radius: 1rem;
      background-size: cover;

      @media only screen and (max-width: 768px) {
        flex: none !important;
      }
    }
  }
}
