.landing-manas {
  background-color: $primary-black;
  height: calc(100vh - 75px);
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  .logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    img {
      max-width: 100%;
      height: auto;
      @media only screen and (max-width: 768px) {
        padding: 0 3rem;
      }
    }
  }

  .shapes {
    max-width: 90%;
    height: 100%;
    position: absolute;
    top: 3%;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    left: 5%;
    right: 5%;
  }

  .ellipse69 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 69.png");
    position: absolute;
    width: 7rem;
    height: 6rem;
    left: 6rem;
    top: 15rem;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ellipse70 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 70.png");
    position: absolute;
    width: 4rem;
    height: 4rem;

    left: 6rem;
    top: 33rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ellipse71 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 71.png");
    position: absolute;
    width: 4rem;
    height: 4rem;

    left: 48rem;
    top: 9rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ellipse73 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 73.png");
    position: absolute;
    width: 2rem;
    height: 2rem;

    left: 70rem;
    top: 18rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ellipse18 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 73.png");
    position: absolute;
    width: 5rem;
    height: 5rem;

    right: 10rem;
    top: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ellipse19 {
    background-image: url("../assets/Landing-shapes/Ellipse\ 73.png");
    position: absolute;
    width: 6rem;
    height: 6rem;

    right: 15rem;
    top: 30rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .polygon18 {
    background-image: url("../assets/Landing-shapes/Polygon\ 18.png");
    position: absolute;
    width: 5rem;

    height: 3.5rem;
    left: 80rem;
    top: 15rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .polygon19 {
    background-image: url("../assets/Landing-shapes/Polygon\ 19.png");
    position: absolute;
    width: 2rem;

    height: 2rem;
    left: 30rem;
    top: 9rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .polygon20 {
    background-image: url("../assets/Landing-shapes/Polygon\ 20.png");
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 64rem;

    top: 37rem;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .polygon21 {
    background-image: url("../assets/Landing-shapes/Polygon\ 21.png");
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 75rem;

    top: 30rem;
    background-repeat: no-repeat;
  }

  .polygon22 {
    background-image: url("../assets/Landing-shapes/Polygon\ 22.png");
    position: absolute;
    width: 92.31px;
    height: 92.31px;
    left: 389px;
    top: 550px;
    background-repeat: no-repeat;
  }
}
