.projects-section {
  background-color: $secondary-black;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  .project-header {
    color: $primary-orange;
    font-size: 4rem;
    padding: 2rem 0;

    .header-underline {
      height: 4px;
      width: 60px !important;
      background-color: $primary-orange;
      margin-left: auto;
      transform: translateY(-14px);
    }
  }

  .projects-container {
    width: 100%;
    display: flex;
    background-attachment: fixed;
    .left-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .react-parallax {
        margin: 1rem 0;
      }
      .react-parallax-bgimage {
        padding: 1rem;

        // @media only screen and (max-width: 992px) {
        //   max-width: 100%;
        // }
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 1;

      @media only screen and (max-width: 768px) {
        display: none;
      }
      .project-content {
        flex: 1;
        padding: 2rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        h1 {
          font-size: 3.5rem;
          font-family: $montserrat;
          font-weight: 500;
          @media only screen and (max-width: 992px) {
            & {
              font-size: 2.8rem;
            }
          }
          @media only screen and (max-width: 768px) {
            & {
              font-size: 2.4rem;
            }
          }
        }

        p {
          font-size: 1.2rem;
          font-family: $montserrat;
          line-height: 2.5rem;
          margin-top: 1rem;
          @media only screen and (max-width: 992px) {
            & {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .single-project-section {
      display: flex;
      padding: 2rem 0;

      @media only screen and (max-width: 576px) {
        flex-direction: column;
      }

      .left-section {
        padding: 0 2rem;

        flex: 1;
        display: flex;
        justify-content: center;

        img {
          max-width: 100%;
          height: auto;
          padding: 1rem 0;
        }
      }

      .project-content {
        flex: 1;
        padding: 1rem 2rem;

        h1 {
          font-size: 3.5rem;

          @media only screen and (max-width: 768px) {
            & {
              font-size: 2.4rem;
            }
          }
        }

        p {
          font-size: 1.4rem;

          @media only screen and (max-width: 768px) {
            & {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.parallax-div {
  width: 45vw;
  @media only screen and (max-width: 768px) {
    & {
      width: 80vw;
    }
  }
}
