.teampage-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .teampage-header-container {
    height: 40vh;
    background: linear-gradient(
      180deg,
      rgba(218, 80, 44, 0.8) 0%,
      rgba(216, 149, 56, 0.8) 100%
    );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1 {
      font-size: 3.6rem;
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }

  .team {
    background: #f9f9f9;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      font-size: 2.4rem;
      text-align: center;
    }

    .team-table {
      // padding: 2rem;
      flex-wrap: wrap;
      display: flex;

      justify-content: center;

      .member {
        margin: 2rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 15rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.5rem;
        transition: all 0.3s ease;
        border-radius: 8px;

        &:hover {
          filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
        }

        .member-name {
          padding: 0;
          font-size: 1.2rem;
        }

        .member-designation {
          color: $primary-orange;
          overflow-wrap: break-word;
        }

        .profile-image {
          width: 7rem;
          height: 7rem;
          border-radius: 100px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 100% 200%;
        }

        .profile-image:hover {
          background-position: 0 100%;
        }

        .icon-shown {
          display: inline-block;
          height: 20px;
          width: 20px;
          margin: 0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: #000000;
          transition: all 0.3s ease;
        }

        .icon-hidden {
          display: none;
        }

        .social-link a:nth-child(3):hover {
          color: #0072b1;
          transform: scale(1.2);
        }
      }
    }
  }
}

.alumni h1 {
  text-align: center;
  margin: auto;
  margin: 3rem;

  span {
    color: $primary-orange !important;
  }
}

.present {
  font-size: 30px !important;
  font-weight: bold;
}

.present span {
  height: 15px !important;
  width: 15px !important;
  background-color: $primary-orange !important;
}

.dot-label {
  transition: 0.3s all ease;
}

.future span {
  background-color: #ffffff !important;
}

.past span {
  background-color: #ffffff !important;
  border: 2px solid $primary-orange !important;
}

.dot-label span {
  margin: auto !important;
  border-color: $primary-orange !important;
}

.alum-table {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;

  .content {
    .alumni-member {
      margin: 2rem;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      width: 15rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
      transition: all 0.3s ease;
      border-radius: 8px;
      min-height: 17rem;

      &:hover {
        filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
      }

      .alumni-name {
        padding: 0;
        font-size: 1.2rem;
        text-align: center;
      }

      .alumni-designation {
        color: $primary-orange;
        overflow-wrap: break-word;
        text-align: center;
      }

      .profile-image {
        width: 7rem;
        height: 7rem;
        border-radius: 100px;
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: 100% 200%;
      }

      .icon-shown {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #000000;
        transition: all 0.3s ease;
      }

      .icon-hidden {
        display: none;
      }

      .social-link a:nth-child(3):hover {
        color: #0072b1;
        transform: scale(1.2);
      }
    }
  }
}

.timeline {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    width: 90%;
  }
}
